html {
    display: block;
}

.nav ul {
    list-style-type: none;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    font-family: arial, sans-sarif;
    font-size: 13px;
}

.nav a:hover {
    text-decoration: underline;
}

#wrapper {
    width: 1241px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    margin-top: 130px;
}

#wrapper #logo {
    margin: 0 -100%;
    vertical-align: middle;
}

.search-box {
    border-radius: 24px;
    display: inline-block;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 582px;
    text-align: center;
}

.centered {
    width: 1241px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    padding-top: 5px;
    margin-top: 21px;
    height: 50px;
}

.search-box {
    display: inline-block;
}
.search-box input {
    margin-top: -38px;
    width: 515px;
    font: 16px arial, sans-serif;
    line-height: 34px;
    border: 0;
}

.search-box:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#search-icon {
    max-width: 15px;
    max-height: 15px;
    margin: 14 10 0 0;
}



/*






.sbox {
    width: 1280px;
    height: 52px; 
}

.sbox img {
    max-width: 20px;
    max-height: 20px;
}

.sbox input {
    width: 400px;
    border: none;
}

.centered div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-box {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 582px;
    padding-top: 5px; 
}

#searchicon {
}

.center {
}

.center input {
    height: 36px;
    width: 127.41;
    padding: 0 16px;
    margin: 11px 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    font-family: arial, sans-serif;
}

input:hover {
    border: 1px solid #c6c6c6;
    color: #222;
    box-shadow: 0 1px rgba(0,0,0,0.1);
}

#luck {
    width: 142.467;
}

*/